---
import GithubIcon from '@src/Icons/GithubIcon.astro';
import InstagramIcon from '@src/Icons/InstagramIcon.astro';
import EmailIcon from '@src/Icons/EmailIcon.astro';
import LinkedinIcon from '@src/Icons/LinkedinIcon.astro';
import { getI18n } from '@src/i18n';

const { currentLocale } = Astro;
const i18n = getI18n({currentLocale});

const socialMedia = [
	{
		socialName: 'Github',
		socialIcon: GithubIcon,
		socialNetworkUrl: "https://github.com/ImKevGzzz"
	},
	{
		socialName: 'LinkedIn',
		socialIcon: LinkedinIcon,
		socialNetworkUrl: "https://www.linkedin.com/in/kev-garc%C3%ADa/"
	},
	{
		socialName: 'Instagram',
		socialIcon: InstagramIcon,
		socialNetworkUrl: "https://www.instagram.com/__kev_garcia__/"
	},
	{
		socialName: i18n.ABOUT_ME.CONTACT_ME_BUTTON_TEXT,
		socialIcon: EmailIcon,
		socialNetworkUrl: "mailto:kevingarciaoviedo05@gmail.com"
	}
]
---
<section id={i18n.SECTIONS_ID.ABOUT_ME_ID} class="flex flex-col scroll-mt-[100px]">
	<article class="min-[1081px]:grid flex flex-col min-[1081px]:grid-cols-[355px,683px] gap-10 max-w-[1086px] h-[355px] mx-auto">
		<section class="max-[1081px]:mx-auto">
			<img class="rounded-[500px] min-[361px]:w-[355px] min-[361px]:h-[355px] w-[300px] h-[300px] shadow-[0px_5px_50px_0px_rgba(255,144,64,0.2)]" src="/ProfilePictureKev.jpg" alt="Profile Picture"/>
		</section>
		<section class="max-[1081px]:mx-auto">
			<h1 class="min-[1081px]:text-5xl text-3xl font-bold max-[1081px]:text-center dark:text-white text-darkModeColor">{i18n.ABOUT_ME.TITLE}<span class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DEV_NAME}</span></h1>
			<div class="gap-y-2 flex flex-col mt-9 max-[1081px]:max-w-[320px] max-[1081px]:text-center">
				<p class="dark:text-white text-darkModeColor min-[1081px]:text-xl text-base font-bold"><span class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DESCRIPTION_N1_POSITION}</span>
					{i18n.ABOUT_ME.DESCRIPTION_N1}
				</p>
				<p class="dark:text-white text-darkModeColor min-[1081px]:text-xl text-base font-bold">{i18n.ABOUT_ME.DESCRIPTION_N2_P1}<span class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DESCRIPTION_N2_POSITION}</span>
					{i18n.ABOUT_ME.DESCRIPTION_N2_P2}
				</p>
			</div>
			<div class="flex gap-5 min-[1081px]:mt-10 mt-14 max-[1082px]:max-w-[150px] max-[1081px]:grid max-[1081px]:grid-cols-[150px_minmax(150px,_2fr)] max-[331px]:grid-cols-[140px_minmax(140px,_2fr)] max-[331px]:ml-[8px]">
				{socialMedia.map(({socialName, socialIcon: Icons, socialNetworkUrl}) => (
					<a class="inline-flex items-center gap-[5px] py-2 px-[18px] rounded-2xl dark:shadow-[4px_4px_0px_0px_rgba(255,144,64,1)] shadow-[4px_4px_0px_0px_rgba(37,34,56,1)] dark:hover:shadow-[7px_7px_0px_0px_rgba(255,144,64,1)] hover:shadow-[7px_7px_0px_0px_rgba(37,34,56,1)] duration-200 border-2 dark:border-darkModeOrange border-darkModeColor dark:bg-white bg-[#ff9040] cursor-pointer transition max-[1081px]:justify-center" href={socialNetworkUrl} role="link" target="_blank">
						<Icons class="fill-darkModeColor w-6 h-6"/>
						<p class="text-darkModeColor max-[1081px]:text-sm font-bold">{socialName}</p>
					</a>
				))}
			</div>
		</section>
	</article>
</section>

<style>
	article {
		margin: 100px auto 0 auto;
	}
</style>