---
import GithubIcon from '@src/Icons/GithubIcon.astro';
import InstagramIcon from '@src/Icons/InstagramIcon.astro';
import EmailIcon from '@src/Icons/EmailIcon.astro';
import LinkedinIcon from '@src/Icons/LinkedinIcon.astro';
import { getI18n } from '@src/i18n';

const { currentLocale } = Astro;
const i18n = getI18n({currentLocale});

const socialMedia = [
	{
		socialName: 'Github',
		socialIcon: GithubIcon,
		socialNetworkUrl: "https://github.com/ImKevGzzz"
	},
	{
		socialName: 'LinkedIn',
		socialIcon: LinkedinIcon,
		socialNetworkUrl: "https://www.linkedin.com/in/kev-garc%C3%ADa/"
	},
	{
		socialName: 'Instagram',
		socialIcon: InstagramIcon,
		socialNetworkUrl: "https://www.instagram.com/__kev_garcia__/"
	},
	{
		socialName: i18n.ABOUT_ME.CONTACT_ME_BUTTON_TEXT,
		socialIcon: EmailIcon,
		socialNetworkUrl: "mailto:kevingarciaoviedo05@gmail.com"
	}
]
---
<main id={i18n.SECTIONS_ID.ABOUT_ME_ID} class="flex flex-col scroll-mt-[100px]">
	<article class="grid grid-cols-[355px,683px] gap-10 w-[1086px] h-[355px] mx-auto">
		<section>
			<img class="rounded-[500px] w-[355px] h-[355px] shadow-[0px_5px_50px_0px_rgba(255,144,64,0.2)]" src="/ProfilePictureKev.webp" alt="Profile Picture"/>
		</section>
		<section>
			<h1 class="text-5xl font-bold dark:text-white text-darkModeColor">{i18n.ABOUT_ME.TITLE}<span class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DEV_NAME}</span></h1>
			<div class="gap-y-2 flex flex-col mt-9">
				<p class="dark:text-white text-darkModeColor text-xl font-bold"><span class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DESCRIPTION_N1_POSITION}</span>
					{i18n.ABOUT_ME.DESCRIPTION_N1}
				</p>
				<p class="dark:text-white text-darkModeColor text-xl font-bold">{i18n.ABOUT_ME.DESCRIPTION_N2_P1}<spa class="dark:text-darkModeOrange text-lightModeOrange">{i18n.ABOUT_ME.DESCRIPTION_N2_POSITION}</spa>
					{i18n.ABOUT_ME.DESCRIPTION_N2_p2}
				</p>
			</div>
			<div class="flex gap-5 mt-10">
				{socialMedia.map(({socialName, socialIcon: Icons, socialNetworkUrl}) => (
					<a class="inline-flex items-center gap-[5px] py-2 px-[18px] rounded-2xl dark:shadow-[4px_4px_0px_0px_rgba(255,144,64,1)] shadow-[4px_4px_0px_0px_rgba(37,34,56,1)] dark:hover:shadow-[7px_7px_0px_0px_rgba(255,144,64,1)] hover:shadow-[7px_7px_0px_0px_rgba(37,34,56,1)] duration-200 border-2 dark:border-darkModeOrange border-darkModeColor dark:bg-white bg-[#ff9040] cursor-pointer transition" href={socialNetworkUrl} role="link" target="_blank">
						<Icons class="fill-darkModeColor w-6 h-6"/>
						<p class="text-darkModeColor font-bold">{socialName}</p>
					</a>
				))}
			</div>
		</section>
	</article>
</main>

<style>
	article {
		margin: 100px auto 0 auto;
	}
</style>