---
import { getI18n } from "@src/i18n";
import { useTranslations, getLangFromUrl } from "../i18n/utils";
import PageTheme from "./PageTheme.astro";
import ToggleLanguage from "./ToggleLanguage.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});

const navbarItems = [
    {
        itemName: t('nav.aboutMe'),
        itemLabel: i18n.SECTIONS_LABEL.ABOUT_ME_LABEL,
        itemUrl: lang === 'es' ? `/#${i18n.SECTIONS_ID.ABOUT_ME_ID}` : `/${lang}/#${i18n.SECTIONS_ID.ABOUT_ME_ID}`,
        itemId: i18n.SECTIONS_ID.ABOUT_ME_ID
    },
    {
        itemName: t('nav.experience'),
        itemLabel: i18n.SECTIONS_LABEL.EXPERIENCE_LABEL,
        itemUrl: lang === 'es' ? `/#${i18n.SECTIONS_ID.EXPERIENCE_ID}` : `/${lang}/#${i18n.SECTIONS_ID.EXPERIENCE_ID}`,
        itemId: i18n.SECTIONS_ID.EXPERIENCE_ID
    },
    {
        itemName: t('nav.projects'),
        itemLabel: i18n.SECTIONS_LABEL.PROJECTS_LABEL,
        itemUrl: lang === 'es' ? `/#${i18n.SECTIONS_ID.PROJECTS_ID}` : `/${lang}/#${i18n.SECTIONS_ID.PROJECTS_ID}`,
        itemId: i18n.SECTIONS_ID.PROJECTS_ID
    },
    {
        itemName: t('nav.skillsAndTools'),
        itemLabel: i18n.SECTIONS_LABEL.SKILLS_AND_TOOLS_LABEL,
        itemUrl: lang === 'es' ? `/#${i18n.SECTIONS_ID.SKILLS_AND_TOOLS_ID}` : `/${lang}/#${i18n.SECTIONS_ID.SKILLS_AND_TOOLS_ID}`,
        itemId: i18n.SECTIONS_ID.SKILLS_AND_TOOLS_ID
    },
    {
        itemName: t('nav.contact'),
        itemLabel: i18n.SECTIONS_LABEL.CONTACT_LABEL,
        itemUrl: "mailto:kevingarciaoviedo05@gmail.com"
    }
];
---

<header class="flex sticky top-0 z-10 px-14 justify-between dark:text-white text-darkModeColor w-full py-5 items-center dark:bg-lightModeExperienceHover dark:bg-opacity-[10%] bg-darkModeColor bg-opacity-[90%] backdrop-blur-xl border-b-[2px] dark:border-opacity-[35%] dark:border-lightModeExperienceHover border-lightTagIconColor">
    <section>
        <ToggleLanguage/>
    </section>
    <nav class="gap-5 flex" id="navbar">
        {navbarItems.map(({itemName, itemLabel, itemUrl, itemId}) => (
            <a class="dark:text-white text-base font-bold px-[10px] cursor-pointer dark:hover:text-lightTagIconColor text-lightTagIconColor hover:text-white transition-all duration-300" href={itemUrl} data-id={itemId} aria-label={itemLabel}>{itemName}</a>
        ))}
    </nav>
    <section>
        <PageTheme />
    </section>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.getElementById('navbar');
    navbar.addEventListener('click', (event) => {
        const target = event.target as Element;
        const link = target.closest('a');
        if (!link) return;

        const sectionId = link.getAttribute('data-id');
        if (sectionId) {
            event.preventDefault();
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
                history.pushState(null, '', link.getAttribute('href'));
            }
        }
    });
});
</script>
